@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html{
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.hero-section{
  background: url('/assets/images/maksim-samuilionak-gKV28_BORS0-unsplash.jpg') no-repeat center/cover;
  animation: bgChange 30s infinite;
}

@keyframes bgChange {
  0%{
    background: url('/assets/images/maksim-samuilionak-gKV28_BORS0-unsplash.jpg') no-repeat center/cover;
    animation-delay: 0s
  }50%{
    background: url('/assets/images/winston-tjia-D__5U_fbiho-unsplash.jpg') no-repeat center/cover;
    animation-delay: 10s
  }100%{
    background: url('/assets/images/donnie-rosie-WbjtAqSZ4Eg-unsplash.jpg') no-repeat center/cover;
    animation-delay: 20s
  }
}

