@import "tailwindcss";

html{
  scroll-behavior: smooth;
  scrollbar-width: none;
  background:  rgb(240, 236, 236);
}
.hero-section{
  background: url('/assets/images/maksim-samuilionak-gKV28_BORS0-unsplash.jpg') no-repeat center/cover;
  animation: bgChange 30s infinite;
}

@keyframes bgChange {
  0%{
    background: url('/assets/images/maksim-samuilionak-gKV28_BORS0-unsplash.jpg') no-repeat center/cover;
    animation-delay: 0s
  }50%{
    background: url('/assets/images/winston-tjia-D__5U_fbiho-unsplash.jpg') no-repeat center/cover;
    animation-delay: 10s
  }100%{
    background: url('/assets/images/donnie-rosie-WbjtAqSZ4Eg-unsplash.jpg') no-repeat center/cover;
    animation-delay: 20s
  }
}

